html, body, h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}    
.center-align{
    font-family: Arial, Helvetica, sans-serif;
    color: #aca4f5;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    transition:color 0.3s,text-shadow 0.3s
  }
  .center-align:hover{
    color: #7e71f3;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  }
  body {
    background-image: url(back.jpg);
    background-clip: content-box;
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    width: 100% ;
    height: 100vh;
  }
  .container {
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
  }
  .datepicker{
    padding: 11px;
    border: 0px;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #333;
    font-size: 15px;
    background-color: #7e71f3 ;
  }
  .datepicker:hover, .datepicker:focus{
    background-color: #d69ee7;
    box-shadow: 0 0 5px rgba(119, 200,169,0.5);
  }
  #submit-button{
    padding: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    border-radius: 70px;
    border: 0px;
    background-color: #7e71f3;
    transition:color 0.3s,text-shadow 0.3s;
    margin-left: 30px;   
    font-size: 15px;

  }
  #submit-button:hover{
    background-color: #d69ee7;
  }
  .apod-container {
    margin-top: 30px;
  }
  
  .apod-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
  }
  
  .apod-content {
    padding: 20px;
  }
  
  .apod-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .apod-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .apod-description {
    margin-bottom: 10px;
    opacity: 70;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 10px;
    text-align: left;
    color:black;
    background-color: #f9f9f9;
    padding: 10px;
    font-style: italic;
  }
  
  .apod-date {
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
  }
  