html, body, h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}    
.center-align{
    font-family: Arial, Helvetica, sans-serif;
    color: #aca4f5;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    transition:color 0.3s,text-shadow 0.3s
  }